<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <form class="form-size"  novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
        <mat-list class="full-width">
          <mat-list-item *ngFor="let comment of dish.comments">
            <h4 matLine><strong>{{ comment.comment }}</strong></h4>
            <p matLine>{{ comment.rating }} / 5 stars</p>
            <p matLine>-- {{ comment.author }} {{ comment.date | date }}</p>
          </mat-list-item>
          <div [hidden]="commentForm.invalid" class="full-width">
            <mat-list-item>
              <h4 matLine><strong>{{ commentForm.value.comment }}</strong></h4>
              <p matLine>{{ commentForm.value.rating }} / 5 stars</p>
              <p matLine>-- {{ commentForm.value.author }} (Preview)</p>
            </mat-list-item>
          </div>
        </mat-list>
      <div style="margin-top:20px;margin-left:12px;">
        <mat-form-field class="full-width"
          dividerColor="{{ formErrors.author ? 'warn' : 'primary' }}">
          <input matInput formControlName="author" placeholder="Name" type="text" required>
          <mat-hint>
            <span [hidden]="! formErrors.author">
              {{ formErrors.author }}
            </span>
          </mat-hint>
        </mat-form-field>
        <mat-slider formControlName="rating" min="1" max="5" thumbLabel tickInterval="1" required></mat-slider>
        <mat-form-field class="full-width"
        dividerColor="{{ formErrors.comment ? 'warn' : 'primary' }}">
          <textarea matInput formControlName="comment" placeholder="Your comment" rows=5 required></textarea>
          <mat-hint>
              <span [hidden]="! formErrors.comment">
                {{ formErrors.comment }}
              </span>
            </mat-hint>
        </mat-form-field>
        <button type="submit" mat-button
          class="background-primary text-floral-white"
          [disabled]="commentForm.invalid">
          Submit
        </button>
      </div>
    </form>
  </div>
  <div [hidden]="dish || errMess">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
  </div>
  <div *ngIf="errMess">
    <h2>Error</h2>
    <h4>{{errMess}}</h4>
  </div>

</div>
