<div class="container"
  fxLayout="row"
  fxLayout.sm="column"
  fxLayout.xs="column"
  fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{ dish.name | uppercase }}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p>{{ dish.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <mat-list fxFlex="40" *ngIf="dish">
    <mat-list-item *ngFor="let comment of dish.comments">
      <h4 matLine><strong>{{ comment.comment }}</strong></h4>
      <p matLine>{{ comment.rating }}</p>
      <p matLine>-- {{ comment.author }} {{ comment.date | date }}</p>
    </mat-list-item>
  </mat-list>

</div>
