<ActionBar title="Dish Details" class="action-bar">
    <NavigationButton android.systemIcon="ic_menu_back" (tap)="goBack()"></NavigationButton>
</ActionBar>
<ScrollView orientation="vertical">
    <GridLayout class="m-5" rows="auto auto auto" *ngIf="dish">
        <StackLayout row="0" class="p-10 border"> 
            <Image [src]="BaseURL + dish.image"></Image>
            <StackLayout>
                <Label class="h2" [text]="dish.name"></Label>
                <Label class="body" [text]="dish.description" textWrap="true"></Label>      
            </StackLayout>
        </StackLayout>
        <Label row="1" height="40" class="p-10 m-t-10 h3" text="Comments"></Label>
        <ListView row="2" height="500" [items]="dish.comments" class="list-group p-10">
            <ng-template let-comment="item">
                <StackLayout class="list-group-item">
                    <Label class="list-group-item-heading" [text]="comment.comment" textWrap="true"></Label>
                    <StackLayout orientation="horizontal">
                        <Label class="list-group-item-text" [text]="comment.rating"></Label>      
                        <Label class="list-group-item-text" text=" Stars"></Label>
                    </StackLayout>
                    <StackLayout orientation="horizontal">
                    <Label class="list-group-item-text" [text]="'-- ' + comment.author + ', '"></Label>      
                    <Label class="list-group-item-text" [text]="comment.date | date"></Label>
                    </StackLayout>      
                </StackLayout>
            </ng-template>
        </ListView>
    </GridLayout>
    <ActivityIndicator busy="true"  *ngIf="!(dish || errMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
    <Label *ngIf="errMess" [text]="'Error: ' + errMess"></Label>
</ScrollView>