<ActionBar title="Home" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>
  <ScrollView orientation="vertical" tkMainContent class="page">
    <GridLayout class="m-5" rows="auto auto auto">
      <StackLayout row="0">
        <StackLayout class="p-10 border" *ngIf="dish"> 
          <Image [src]="BaseURL + dish.image"></Image>
          <StackLayout>
            <Label class="h2" [text]="dish.name"></Label>
            <Label class="body" [text]="dish.description" textWrap="true"></Label>      
          </StackLayout>
        </StackLayout>
        <ActivityIndicator busy="true"  *ngIf="!(dish || dishErrMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="dishErrMess" [text]="'Error: ' + dishErrMess"></Label>
      </StackLayout>
      <StackLayout row="1">
        <StackLayout class="p-10 border" *ngIf="promotion"> 
          <Image [src]="BaseURL + promotion.image"></Image>
          <StackLayout>
            <Label class="h2" [text]="promotion.name"></Label>
            <Label class="body" [text]="promotion.description" textWrap="true"></Label>      
          </StackLayout>
        </StackLayout>
        <ActivityIndicator busy="true"  *ngIf="!(promotion || promoErrMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="promoErrMess" [text]="'Error: ' + promoErrMess"></Label>
      </StackLayout>
      <StackLayout row="2">
        <StackLayout class="p-10 border" *ngIf="leader"> 
          <Image [src]="BaseURL + leader.image"></Image>
          <StackLayout>
            <Label class="h2" [text]="leader.name"></Label>
            <Label class="h3" [text]="leader.designation"></Label>
            <Label class="body" [text]="leader.description" textWrap="true"></Label>      
          </StackLayout>
        </StackLayout>
        <ActivityIndicator busy="true"  *ngIf="!(leader || leaderErrMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
        <Label *ngIf="leaderErrMess" [text]="'Error: ' + leaderErrMess"></Label>
      </StackLayout>
    </GridLayout>
  </ScrollView>
</RadSideDrawer>