<ActionBar title="Contact Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
  <ScrollView tkDrawerContent class="sidedrawer-left">
    <StackLayout horizontalAlign="left">
      <drawer-content></drawer-content>
    </StackLayout>
  </ScrollView>
  <StackLayout tkMainContent class="page">
    <StackLayout row="0" class="p-10 border"> 
      <Label class="h2" [text]="'Contact Information'"></Label>
        <StackLayout> 
          <Label class="body" [text]="'121, Clear Water Bay Road'"></Label>   
          <Label class="body" [text]="'Clear Water Bay, Kowloon'"></Label>   
          <Label class="body" [text]="'HONG KONG'"></Label>   
          <Label class="body" [text]="'Tel: +852 1234 5678'"></Label>   
          <Label class="body" [text]="'Fax: +852 8765 4321'"></Label>
          <Label class="body" [text]="'Email:confusion@food.net'"></Label>
        </StackLayout>
    </StackLayout>
  </StackLayout>
</RadSideDrawer>